#skills {
    width: 100%;
    height: 750px;
    align-items: center;
    display: flex;
    flex-direction: column;
    background: #25242a;
    color: #fff;
    font-size: 30px;
    position: absolute;
}

#header {
    margin-top: 50px;
    margin-bottom: 0;
    margin-right: 44%;
    text-underline-offset: 8px;
    text-decoration: underline;
    text-decoration-color: #6b7280;
    text-decoration-thickness: 2px;
    text-decoration-skip:unset;
}

#icons {
    display: grid;
    grid-template-columns: repeat(4, 175px);
    grid-template-rows: repeat(2, 175px);
    grid-gap: 50px;
    margin-top: 2%;
    color:white;
    
}

svg {
    stroke: currentColor;
    fill: currentColor;
    stroke-width: 0;
    height: 175px;
    width:175px;
}

#html:hover {
    color: #e44d25;
    transition: 0.3s ease-in-out;
}


#css:hover {
    color: #214ce5;
    transition: 0.3s ease-in-out;
}

#jscript:hover {
    color: #f0dc4e;
    transition: 0.3s ease-in-out;
}

#react:hover {
    color: #61dbfb;
    transition: 0.3s ease-in-out;
}

#java-icon:hover {
    #steam {
        color: #f89917;
        transition: 0.3s ease-in-out;
    }

    #cup {
        color: #5a9fd4;
        transition: 0.3s ease-in-out;
    }
}

#python-icon:hover {
    #top-py {
        color: #5a9fd4;
        transition: 0.3s ease-in-out;
    }
    
    #bot-py {
        color: #ffd43b;
        transition: 0.3s ease-in-out;
    }
}

#sql:hover {
    color: #0874c4;
}

#flask:hover {
    color: #42959d;
    transition: 0.3s ease-in-out;
}


@media screen and (max-width: 550px) {
    
    body {
        overflow-y: scroll;
    }

    #header {
        margin-right: 0;
        margin-bottom: 30px;
    }

    #icons {
        grid-template-columns: repeat(2, 100px);
        grid-template-rows: repeat(4, 100px);
    }

    svg {
        height: 100px;
        width: 100px;
    }
}